<div class="row">
  <div class="col">
    <h2>Rules</h2>
    <p>{{ selectedGame?.descriptionOfTheRules }}</p>
    <h3>Description of available picks</h3>
    <ul>
      <li *ngFor="let p of selectedGame?.availablePicks">
        {{ p.type }} defeats {{ p.defeats }}
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col">
    <h2>1, 2, 3... Pick!</h2>
  </div>
</div>
<div class="row">
  <div class="col" *ngFor="let p of selectedGame?.availablePicks">
    <app-pick-card
      [gamePick]="p"
      (gamePickSelected)="selectedPick(p)"
      [showButton]="!isPickSelected"
      [removeHighlight]="showHighlight"
    ></app-pick-card>
  </div>
</div>
<div class="row" *ngIf="machinePick">
  <div class="row">
    <div class="col">
      <h3>The machine pick was:</h3>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-4 align-self-center">
      <app-pick-card
        [gamePick]="machinePick"
        [showButton]="false"
      ></app-pick-card>
    </div>
  </div>
</div>

<div class="row" *ngIf="gameResult">
  <div class="row">
    <div class="col">
      <h2>{{ getGameResultGreeting() }}</h2>
      <p>Try again!</p>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-4 align-self-center text-center">
      <button class="btn btn-secondary" (click)="playAgain()">
        Play Again
      </button>
    </div>
  </div>
</div>
